
h1{
  font-family: monospace;
  font-size: 45px;
}
p{
  display: none;
  font-size: 30px;
  font-family: fantasy;
  color: black
}

body {
  text-align: center;
  background-color:  #e6f2ff;
}

h2 {
  border: 5px solid  #0069cc;
  padding: 10px;
  background-color: #cce6ff;
  margin-left: 500px;
  margin-right: 500px;

}
